:root {
    --primary-text-color: #212121;
    --paragraph-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-background-color: #FFFFFF;
    --additional-background-color: #F5F4FA;
    --footer-color: #2F303A;
}

/* Reset */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* General */

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header*/
.header {
    border-bottom: 1px solid #ECECEC;
}

.wrapper-nav {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

/* Header-logo */
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
    color: var(--accent-color);
}

.logo__accent {
    color: var(--logo-color);
}

.logo__accent,
.footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* Navigation */
.navigation {
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation__link--current {
    color: var(--accent-color);
}

.navigation__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;
    width: 100%;

    content: "";
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}




.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-color);

}

/* Navigation, contacts */
.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--paragraph-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    background-color: var(--footer-color);
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 216px;
    border-radius: 4px;
    border: none;

    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* Секції Загальні налаштування*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Specialty */
.specialty {
    padding-top: 94px;
    padding-bottom: 94px;
}
.specialty__list {
    display: flex;
    gap: 30px;
}

.specialty__item {
    width: calc((100% - 90px)/4);
}

.specialty__content {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--additional-background-color);
}

.specialty__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.specialty__text {
    color: var(--paragraph-color);
    line-height: 1.71;
}

/* Works */
.works {
    padding-top: 0;
}
.works__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.works__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.works__thumb {
    position: relative;
    width: 370px;

}

.works__text {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    min-height: 70px;
    color: var(--white-text-color);
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

}

/* Team */

.team {
    background-color: var(--additional-background-color);
}

.team__title {
    margin-bottom: 50px;
    font-weight: 700;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__item {
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.member {
    padding-top: 30px;
    padding-bottom: 16px;
}

.member__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.member__text {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.networks {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.networks__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:hover,
.networks__link:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

.networks__icon {
    fill: currentColor;
}


/* Cliens*/
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients__list {
    display: flex;
    gap: 30px;
}


.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    min-height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.clients__icon {
    display: block;
    fill: currentColor;
}


/* Footer */
.footer {
    padding: 60px 215px;

    background-color: var(--footer-color);
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.wrapper-logo {
    margin-bottom: 20px;
}

.footer-logo {
    margin-right: 0;

}

.footer-logo--accent {
    color: var(--white-text-color);
}

.address {
    margin-right: 70px;
}

.address__link {
    display: inline-block;
    margin-bottom: 9px;

    color: var(--white-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.address-details {
    display: block;
}

.address-details__mail,
.address-details__tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71
}

.address-details__mail {
    display: inline-block;
    margin-bottom: 9px;
}

.footer-networks {
display: inline-block;
gap: 10px;
justify-content: center;
}
.footer-networks__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-networks__list {
    display: flex;
    gap: 10px;

}
.footer-networks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: var(--white-text-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks__link:hover,
.footer-networks__link:focus {
    background-color: var(--accent-color);
}

.footer-form {
    margin-left: auto;
}

.form-join {
    display: flex;
}

.footer-form__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white-text-color);
}

.form-join__email {

    min-width: 358px;
    min-height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: var(--white-text-color);
}

.form-join__email::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.sing-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-transform: capitalize;

    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sing-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}


/* Portfolio */
.filter-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.filter-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    min-width: 73px;
    border: none;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--additional-background-color);
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.63;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__item {
    width: calc((100% - 60px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.projects__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.projects__item:hover .projects__description {
    transform: translateY(0);
}

.projects__thumb {
    position: relative;
    width: 370px;
    overflow: hidden;
}
.projects__description {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--white-text-color);
    background: rgba(33, 150, 243, 0.9);

}

.projects__firm {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.projects__title {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects__job {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: var(--white-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    color: var(--accent-color);
}
.modal-button__icon {
    fill: currentColor;
}

.order-form {
    width: 528px;
    padding: 40px;
}

.order-form__field {
    margin: 0;
    padding-left: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__field:hover,
.order-form__field:focus {
    border: 1px solid var(--accent-color);
}
.order-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}
.display {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.order-form__label {
    position: relative;
}
.order-form__word {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: #757575;
}
.order-form__inner {
    position: relative;
    display: flex;
    align-items: center;
}
.order-form__field {
    height: 40px;
}
.order-form__icon {
    fill: currentColor;
    position: absolute;
    left: 12px;
}
.order-form__field:hover+.order-form__icon {
    color: var(--accent-color)
}
.order-form__fiel:focus+ .order-form__icon{
    color: var(--accent-color)
}
.order-form__comment {
    margin-bottom: 20px;
}
.order-form__textarea {
    resize: none;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.order-form__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.order-form__contract{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    line-height: 1.71;
    color: var(--paragraph-color);
}
.order-form__contractForm {
    width: 16px;
    height: 15px;
    position: relative;
    margin-right: 7px;  
}

.order-form__icon--inactive{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.order-form__icon--active{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 10;
background-color: #2196F3;
opacity: 0;
}

.order-form__checkbox:checked + .order-form__icon--inactive {
    opacity: 0;

}

.order-form__checkbox:checked ~.order-form__icon--active {
    opacity: 1;
}

.order-form__link {
    line-height: 1.71;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.button-send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    min-width: 200px;
    min-height: 50px;

    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

