@import './utilits/variables';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import './utilits/modern-normalize';
@import './utilits/reset';
@import './utilits/body';
@import './utilits/placeholders';
@import './utilits/_container';
@import './utilits/section';
@import './utilits/_visually-hidden';
@import './components/header/navigation';
@import './components/logo';
@import './components/header/navigation_contacts';
@import './components/hero';
@import './components/specialty';
@import './components/_works.scss';
@import './components/team.scss';
@import './components/clients';
@import './components/footer/footer-section';
@import './components/footer/footer-address';
@import './components/footer/footer-networks';
@import './components/footer/footer-form';
@import './components/modal/backdrop';
@import './components/modal/modal';
@import './components/modal/order-form';


