$primaryTextColor: #212121;
$paragraphColor: #757575;
$whiteTextColor: #FFFFFF;
$accentColor: #2196F3;
$logoColor: #000000;
$primaryBgColor: #FFFFFF;
$additionalBgColor: #F5F4FA;
$footerColor: #2F303A;
$logo: Raleway;
$allText: Roboto;