.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    background-color: $whiteTextColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    right: 0;

    @extend %centeredFlex;
    margin-top: 8px;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: $whiteTextColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: $accentColor;
    }
&__icon {
    fill: currentColor;
}}