.order-form {
    width: 528px;
    padding: 40px;


&__field {
    margin: 0;
    padding-left: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    border: 1px solid $accentColor;
}}

&__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}



&__label {
    position: relative;
    @extend %display;

}

&__word {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: #757575;
}

&__inner {
    position: relative;
    display: flex;
    align-items: center;
}

&__field {
    height: 40px;
}

&__icon {
    fill: currentColor;
    position: absolute;
    left: 12px;

.order-form__field:hover+& {
        color: $accentColor;
}
.order-form__field:focus+& {
    color: $accentColor;
}}


&__comment {
    margin-bottom: 20px;
    @extend %display;
}

&__textarea {
    resize: none;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

&__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

&__contract {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    line-height: 1.71;
    color: $paragraphColor;
}

&__contractForm {
    width: 16px;
    height: 15px;
    position: relative;
    margin-right: 7px;
}

&__icon--inactive {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

&__icon--active {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #2196F3;
    opacity: 0;
}

&__checkbox:checked+&__icon--inactive {
    opacity: 0;

}

&__checkbox:checked~&__icon--active {
    opacity: 1;
}

&__link {
    line-height: 1.71;
    text-decoration-line: underline;
    color: $accentColor;
}
}
.button-send {
    @extend %centeredFlex;
    margin: 0 auto;

    min-width: 200px;
    min-height: 50px;

    border: none;
    border-radius: 4px;
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $whiteTextColor;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}