.specialty__list{
  
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px){
      flex-wrap: nowrap
    }

}
.specialty__item{
  @media screen and (min-width: 768px) {
  width: calc((100% - 30px)/2);}
@media screen and (min-width: 1200px){
  width: calc((100% - 90px)/4);

}}
  .specialty__content {
    @extend %centeredFlex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    min-height: 120px;
    border-radius: 4px;
    background-color: $additionalBgColor;
    
    }
  

  .specialty__item:not(:last-child){
    @media screen and (max-width: 480px)  {
    margin-bottom: 30px;
  }}
.specialty__title {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  @media screen and (min-width: 768px){
    text-align: start;
  }
}

.specialty__text {
  display: block;
  line-height: 1.71;
  color: $paragraphColor;
}



