.works{
    @media screen and (max-width: 1199px){
        display: none;
    }
}
.works__title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }
.works__list {
    
    gap: 30px;
    justify-content: center;
}

.works__thumb {
    position: relative;
    width: 370px;

}

.works__text {
    position: absolute;
    bottom: 0;
    @extend %centeredFlex;
    width: 100%;

    min-height: 70px;
    color: $whiteTextColor;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.works__photo{
    display: block;
    max-width: 100%;
    height: auto;
    }

