.address {
    text-align: center;
@media screen and (min-width: 768px){
    width: 232px;
}
@media screen and (min-width: 1200px){
    text-align: start;
}
}

.address__link {
    display: inline-block;
    margin-bottom: 8px;

    color: $whiteTextColor;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.address-details {
    display: block;
}

.address-details__mail,
.address-details__tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71
}

.address-details__mail {
    display: inline-block;
    margin-bottom: 8px;
}
.footer__content{
    @media screen and (min-width: 768px) {
 display: flex;}}

 .footer__address{
    @media screen and (min-width: 768px){
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;}
    @media screen and (min-width: 1200px){
    margin-bottom: 0;
    
 }}


