.footer-networks {
    display: inline-block;

&__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $whiteTextColor;
}

&__list {
    display: flex;
    gap: 10px;
}

&__link {
    @extend %centeredFlex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: $whiteTextColor;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $accentColor;
}
}}