

.footer-form {
    margin-left: auto;

&__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $whiteTextColor;
}
}
.form-join {
    display: flex;

&__email {

    min-width: 358px;
    min-height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: $whiteTextColor;
}

&__email::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
}
.sing-button {
    @extend %centeredFlex;
    gap: 10px;
    min-width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-transform: capitalize;

    background-color: $accentColor;
    color: $whiteTextColor;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}}