.footer-form{
    @media screen and (min-width: 1200px){
        margin-left: auto;
    }
}
.form-join{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px){
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;
    }
}

.footer-form__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
   
    text-align: center ;
@media screen and (min-width: 1200px){
    text-align: left;
}
    color: $whiteTextColor;
}
.form-label{
    text-align: center;}

.form-join__email {

    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: $whiteTextColor;
    &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $whiteTextColor;
    }
@media screen and (min-width: 767px){
    max-width: 450px
}
@media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-bottom: 0;
}}

.sing-button {
    @extend %centeredFlex;
    gap: 10px;
    min-width: 200px;
    min-height: 50px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-transform: capitalize;

    background-color: $accentColor;
    color: $whiteTextColor;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}}