.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
}
.wrapper-nav {
    @extend .container;  
}

.menu-togglen{
    display: inline-flex;
    border: none;
    background-color: transparent;
}
.icon-cross{
    display: none;
}
.menu-toggle.is-open .icon-cross{
display: block;
}
.menu-toggle.is-open .icon-menu{
    display: none;
}
.menu-container.is-open {
   position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: red;

}
.navigation__item:not(:last-child){
    margin-right: 50px;
    }
.navigation__link {
    position: relative;
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    color: $primaryTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
    color: $accentColor;
}}
.navigation__link--current{
    color: $accentColor;
}
.navigation__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;
    width: 100%;

    content: "";
    height: 4px;
    background: $accentColor;
    border-radius: 2px;
}
